.contact-section {
  margin-left: 300px;
  height: 95vh;
}

.contact-title {
  text-align: center;
  margin: 50px;
}

.contact-form-image img {
  height: 600px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.contact-form input {
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.contact-form-textarea {
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.select-dropDown {
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
}

.submit-btn {
  margin-bottom: 50px;
}

.submit-btn p {
  background-color: #6e2c0d;
  padding: 10px;
  border-radius: 20px;
  color: white;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 35px;
  cursor: pointer;
  justify-content: center;
  display: flex;
}

.submit-btn p:hover {
  background-color: #7c3412;
  transition: 1s;
}
