.sidebar-profile-pic img {
  border-radius: 50%;
  margin-top: 10px;
  height: 135px;
  width: 135px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  object-fit: cover;
  border: 2px solid yellowgreen;
}
