.testimonial-section {
  margin-left: 300px;
  margin-bottom: 50px;
  height: 80vh;
}

.testimonial-title {
  text-align: center;
}

.slider-content {
  padding: 10px;
  color: black;
  background-color: var(--bs-cyan);
  margin: 10px;
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
  height: 220px;
  border-radius: 5px;
}

.slider-content:hover{
  background-color: #7FB3D5;
  transition: 1s;
}

.slider-content img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: block;
  margin: auto;
  object-fit: cover;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
}

.slick-prev:before {
  color: var(--bs-cyan) !important;
}

.slick-next:before {
  color: var(--bs-cyan) !important;
}
